* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --background-color:  #d0f0fd;
    --margin-top: 16px;
    --color: #333;
    --container-bg: linear-gradient(to bottom, 
    #87CEEB 70%,  /* trời chiếm 70% */
    #1E90FF 30%   /* biển chiếm 30% */
);
}

:root.dark{
    --background-color: #555;
    --color: #fff;
     --container-bg: linear-gradient(to bottom, 
     #0a0a23 70%,   /* trời đêm: xanh đậm gần đen */
     #011f4b 30%    /* biển đêm: xanh navy */
 );; /* mới thêm */
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body{
    scroll-behavior: smooth;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: var(--container-bg);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.play-music{
    max-width: 500px;
    height: 500px;
    position: relative;
    z-index: 99;
}

.head {
    width: 100%;
    height: 500px;
    text-align: center;
    background-color: var(--background-color);
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0, 183, 255, 0.6);
    
}

.head p{
    padding-top: var(--margin-top);
    font-size: 16px;
    color: var(--color)
}
.head .name-music{
    margin-top: var(--margin-top);
    font-size: 24px;
    color: var(--color)
}

.cd {
    margin: 0 auto;
    margin-top: var(--margin-top);
    width: 200px;
    height: 200px;
    background-image: url('image/z6401698045746_dcaeaba4009003c3dc937fd7bfa21be7.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    animation: spin 10s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0degg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.equalizer {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 6px;
    width: 60px;
    height: 40px;
    margin-left: 10px;
    
}

.bar {
  width: 8px;
  height: 20px;
  background: var(--color);
  animation: bounce 1s infinite ease-in-out;
}

.bar1 {animation-delay: 0s;}
.bar2 {animation-delay: 0.2s;}
.bar3 {animation-delay: 0.4s;}
.bar4 {animation-delay: 0.6s;}

@keyframes bounce {
    0%, 100% {
        height: 20px;
    }
    50% {
        height: 50px;
    }
}
.dashboard {
    margin-top: var(--margin-top);
    display: flex;
    justify-content: center;
    gap: 36px;
}

.dashboard button {
    font-size: 20px;
    padding: 16px;
    background-color: rgb(255, 255, 255,0);
    outline: none;
    border: none;
    cursor: pointer;
}

.dashboard button i{
    opacity: 0.7;
    color: var(--color)
}

.dashboard button i:hover{
    opacity: 1;
}

.head .progress {
    width: 400px;
    color: var(--color);
}


.head .second {
    font-size: 16px;
    margin-top: var(--margin-top);
    margin-bottom: 10px;
}

.show-list {
    position: relative;
    max-width: 530px;
    height: 530px;
    overflow-y: auto; /* Cho phép cuộn theo chiều dọc */
    padding-right: 10px; /* Giúp tránh việc nội dung bị che bởi thanh cuộn */
    border-radius: 20px; /* Bo góc cho đẹp */
    padding: 5px;
    z-index: 98;
    
}

.show-list::-webkit-scrollbar {
    width: 10px;
}

.show-list::-webkit-scrollbar-thumb {
    background-color: var(--background-color);
    border-radius: 10px;
    cursor: pointer;
}


.show-list::-webkit-scrollbar-track {
    background-color: rgba(85, 85, 85, 0.5);
    border-radius: 10px;
     
}

.show-list .song {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 2px auto 22px; 
    cursor: pointer;
    background-color: var(--background-color);
    border-radius: 10px;
    color: var(--color)
}

.show-list .song .picture-music {
    width: 60px;
    height: 60px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-right: 16px;
    margin-left: 5px;
}

.show-list .song .name {
    font-size: 20px;
    font-weight: bold;
}

.show-list .song .namesinger {
    font-size: 16px;
    margin-top: 10px;
}

.show-list .option {
    margin-left: auto; /* Đẩy sang phải */
    padding: 10px;
    font-size: 24px;
    color: var(--color);
    cursor: pointer;
    opacity: 0.8;
}

.show-list .option:hover {
    opacity: 1;
}


.song.active {
    box-shadow: 0 0 25px rgba(0, 183, 255, 0.6);
}

.visible {
    visibility: visible;
}


.shuffle i.active {
    opacity: 1;
}

.second{
    color: var(--color);
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 100;
}




.darkmode{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 36px;
    display: inline-block;
    z-index: 97;
}

.darkmode input {
    width: 0;
    height: 0;
    opacity: 0;
}

.darkmode .switch{
    position: absolute;
    inset: 0;
    width: 60px;
    height: 36px;
    background: var(--background-color);
    width: 60px;
    height: 36px;
    border-radius: 20px;
    transition: background 0.3s ease;
    cursor: pointer;
    display: inline-block;
}

.darkmode .switch::before{
    content: '';
    position: absolute;
    top: 5px;
    left: 3px;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    background-color: #555;
    transition: transform 0.3s ease;
}

.darkmode input:checked + .switch {
    background: var(--background-color);
}

.darkmode input:checked + .switch::before {
    transform: translateX(26px);
    background-color: #fff;
}


.day{
    position: absolute;
    
}

.night{
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    height: 70%;
    z-index: 2;
}

.moon {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #fffff0;
    box-shadow: 0 0 40px #fff;
    z-index: 95;
    opacity: 0;
    transition: all 1s ease;
}

.moon.active {
    top: 40px;
    opacity: 1;
}


.star{
    position: absolute;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 4px #fff,
                0 0 8px #fff,
                0 0 12px #fff,
                0 0 16px #fff,
                0 0 20px #fff;
    z-index: 1;
    animation: twinkle 3s linear infinite;
}

@keyframes twinkle {
    0%, 100%{
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }
}

.day {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70%;
    z-index: 3;
}

.day .sun {
    position: absolute;
    width: 80px;
    top: 550px;
    left: 50%;
    transform: translateX(-50%);
    height: 80px;
    background:
    radial-gradient(circle at center, #fff9c4, #ffe082, #ffca28);
    border-radius: 50%;
    box-shadow: 0 0 20px #ffeb3b, 0 0 60px #fdd835;
    opacity: 0;
    transition: all 1s ease;
}

.sun.active{
    top: 420px;
    opacity: 1;
}